body{
    background-color: rgba(243,245,245,1.00);
    font-family: 'Roboto Serif', sans-serif;
    min-width: 320px;

}
header{
    background-color: white;
    box-shadow: rgba(28, 72, 151, 0.25) 0px 0px 2px;
}

#header{
    padding: 10px 10px;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.logo-href{
    display: flex;
    align-items: center;
}

.logo-title{
    color: #094774;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.btn{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;

    line-height: 16.8px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    
}

.btn-autorize, .btn-create{
    color: #95A8B5;
}
.btn-autorize:active, .btn-create:active{
    color:rgb(108, 134, 152);
}

.btn-lang{
    color:  rgb(67, 118, 173);
}
.btn-lang span{
    color:  #094774;
}

.btn-lang:active{
    opacity: 0.6;
}
/*Login*/
.modal-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal{
    background: white;
    padding: 40px;
    width: 500px;
}
#login-form{
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    position: relative;
    width: 100%;
         
  }

  .input-wrapper input {
    width: inherit;
    padding: 10px;
    margin-bottom: 24px;
  }

  .input-wrapper i {
    position: absolute;
    right: 5%;
    top: 20%;   
    color: grey;
  }
.close{
    border: none;
    background: none;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 33%;
    top: 37%;
    transform: translateX(-37%);
}

#sign-in{
    background: dodgerblue;
    border: none;
    border-radius: 10px;
    height: 30px;
}

.hide{
    display: none;
}

/*filter-section*/

.filter-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    gap: 30px;
    max-width: max-content;
    font-size: 12px;
    line-height: 16px;
    box-shadow: 0px 1px 3px rgb(60 60 60 / 15%);
}
.wrapper-input {
    position: relative;
}
.filter__input, .filter select{
    box-shadow: 0px 1px 3px rgb(60 60 60 / 15%);
    background-color: rgba(0,0,0,0.00);
    border: 0 solid white;
    color: rgba(13,56,87,1.00);
    padding: 5px 20px;
    outline:none;
}

.filter__input::placeholder{
    font-size: 12px;
    color:#6B7D8E;

}
.filter svg{
    position: absolute;
    top: 4px;
    right: 6px;
    opacity: 0.5;
    width: 20px;
    height: 20px;
}

.filter-btn {
    box-shadow: 0px 1px 3px rgb(60 60 60 / 15%);
    background-color: rgba(0,0,0,0.00);
    border: 0 solid white;
    color: rgba(13,56,87,1.00);
    padding: 5px 20px;
    cursor: pointer;
}
.filter-btn:hover {
    background-color: rgba(243,245,245,1.00);
}
/*main*/

main{
    padding: 20px 0;
    text-align: center;
}

#main{
    background-color: #F7F8F8;
    box-shadow:0px 1px 4px rgb(60 60 60 / 15%);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.placeholder__text{
    color: rgba(108,134,152,1.00);
    margin-bottom: 50px;
}
/*card Visit*/
.visit__list {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 30px;
}

.visit__menu {
    border: 1px solid hsl(0, 0%, 90%);
    padding: 8px;
}
.visit__item{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    text-align: center;

}
.visit__title{
    color: rgba(13,56,87,1.00);
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
}

.visit__text-doctor{
    color: rgba(108,134,152,1.00);
    font-size: 16px;
    line-height: 28px;
}

.visit__img{
    -webkit-user-select: none;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}
.visit-btn{
    background-color: hsl(0, 0%, 90%);
    padding: 10px;
    color: rgba(13,56,87,1.00);
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
.wrapper-icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#btn-close, #btn-edit{
    fill: rgba(108,134,152,1.00);
   background-color:  hsl(0, 0%, 90%);
    cursor: pointer;
}
/*#icon-done{*/
/*    fill: green;*/
/*    max-width: 28px;*/
/*}*/
.text__total, .text__cardiologist, .text__therapist, .text__dentist {
    margin-top: 10px;
    color: rgb(108, 134, 152);
    font-size: 12px;
    line-height: 16px;
    text-align: start;

}

